
html, body {
    margin: 0;
    padding: 0;
    border-radius: 0 !important;
}

.q-page-container {
    padding: 0 !important;
    border-radius: 0px !important;  

}

.q-page {
    padding: 0 !important;
    border-radius: 0px !important;  

}

.nicegui-content {
    border-radius: 0px !important;  
    padding: 0 !important;
    margin: 0 !important;
}
.q-layout {
    border-radius: 0 !important;
}

.nicegui-layout {
    border-radius: 0 !important;
}
