body {
  margin: 0;
  background-image: url("/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

/* HEADER */

.main-header {
  height: 90px;
  background: #1E3A8A;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #3B82F6;
}

.logo {
  height: 60px; 
  width: 300px;
  cursor: pointer;
  transition: transform .2s;
}

.logo:hover {
  transform: scale(1.05);
}

/* CONTEÚDO */

.main-container {
  min-height: calc(100vh - 140px);
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

/* FOOTER */

.main-footer {
  height: 50px;
  background: #1E3A8A;
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}