.footer {
  background-color: #3b3b3b;
  color: white;

  height: 50px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

}

.footer-text {

  text-align: center;
  font-size: 1rem;
  margin: 0;
  
}
 