.button-pattern {
    background: linear-gradient(135deg, #BB8AEE, #6C8CF1, #1B8FF7) !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 400;
}

.button-pattern:hover {
    filter: brightness(0.9);
}

.button-pattern:active {
    transform: scale(0.95);
}
